body {
  background-color: #f58342;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-top: 3rem;
}

#dogImg {
  display: block;
  margin: auto;
  height: 30vh;
}

#fetchDogWrap button {
  display: block;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: #f58342;
  border: 2px solid black;
  cursor: pointer;
}

#fetchDogWrap select {
  padding: 1rem;
  width: 50%;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #f58342;
  border: 2px solid black;
}